body {

    background-image: url(a62.png);
    margin: 20px;
    padding: 20px;
}


#wrapper {

    background-color: white;
    border: 3px solid black;
    width: 900px;
    margin: auto;
    padding: 0px;
    display: grid;

    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: auto auto auto;


    /*grid-template-columns: 200px 1fr;

    grid-template-rows: auto 1fr auto;

    gap: 20px;*/

}



header {

    color: white;
    font-family: Helvetica;
    font-weight: normal;
    background-color: black;
    grid-column: span 10;
    padding-left: 10px;
    margin: 10px 10px 10px 10px;


}

h1 {

    font-weight: normal;
}



nav ul {
    font-family: Helvetica;
    list-style-type: none;
    grid-column: span 2;
    padding-left: 10px;
    padding-bottom: 0px;
    margin: 0;


}


nav li {


    width: 200px;
    padding: 0px;
    margin-bottom: 20px;
    margin-right: 10px;
    background-color: red;
    display: block;

}

nav li a {

    color: white;
    text-decoration: none;
    display: block;
    padding: 10px;
    background-color: red;
}

nav li a:hover {

    background-color: darkred;

}



h2 {
    font-family: Helvetica;
    border-bottom: 3px solid black;
    padding-bottom: 10px;
    margin: 0 0 10px 0;
}

.floatimg {


    float: left;
    border: 3px solid black;
    padding: 10px;
    margin-right: 10px;
    margin-bottom: 10px;

}

.clearfloat {

    clear: both;

}

main {

    font-family: Georgia;
    text-align: justify;
    grid-column: span 9;
    padding-right: 5px;
    margin: 3px;



}

main a {
    color: red;
    font-weight: bold;
    text-decoration: none;

}

main a:visited {
    color: red;
    text-decoration: none;
}

main a:hover {

    color: blue;
    text-decoration: underline;


}

.para {

    font-weight: bold;
}


footer {

    grid-column: span 10;
    font-family: Verdana;
    font-style: italic;
    text-align: center;
    background-color: red;
    color: white;
    border: 2px solid black;
    padding: 10px;


}