header {

  text-align: center;
  grid-column: span 12;

}

body {
  background: radial-gradient(circle at center, #0418eb, #faf8f8);
}

#wrapper {
  margin: 24px auto;
  width: 1200px;
  padding: 24px;
  /*background-color: #999999;*/
  /*background: radial-gradient(circle at center, #0418eb, #faf8f8);*/
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-column-gap: 24px;

}



nav {

  grid-column: span 12;
  text-align: center;
}

nav ul {

  list-style-type: none;
  padding: 0;
  margin: 0;


}

nav li {


  width: 250px;
  padding: 0px;
  margin-bottom: 20px;
  margin-right: 20px;
  display: inline-block;


}


nav li a {

  color: white;
  text-decoration: none;
  display: block;
  padding: 10px;
  background-color: navy;
}

nav li a:hover {

  background-color: blue;

}



.image {


  max-width: 350px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;

}

.para {
  grid-column: span 12;
  text-align: center;
  width: 100%;


}

/* style for dummy columns, delete and replace with your own CSS */
.dummycolumn {
  background-color: rgba(255, 0, 0, .25);
  grid-column: span 1;
}